<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
  
    <%- include('../partials/navbar'); -%>


    <%# Dynamically Displaying Data %>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Our Users with the Car</h2>
                </div>
            </div>


            
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover" src="/img/products/1.jpg" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-primary mb-2">G2</span>
                            <h4 class="fw-bold">Book your G2</h4>
                            <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover" src="/img/products/2.jpg" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-primary mb-2">G1</span>
                            <h4 class="fw-bold">Book your G1</h4>
                            <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </section>
        
       



    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Search your License Number</h2>
                    <p class="text-muted w-lg-50">Enter only License Number so that it pulls the data from the DB</p>
                </div>
            </div>
            <form class="p-3 p-xl-4" method="post">
                <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="License Number"></div>
                <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                <div><button class="btn btn-primary shadow d-block w-100" type="submit">Search</button></div>
            </form>
        </div>
    </section>
    
    <%- include('../partials/footer'); -%>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bold-and-bright.js"></script>
</body>

</html>